In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn import preprocessing

songs = pd.read_csv('ml-03-data-processing-songs-dataset.csv')

In [2]:
songs.shape

(1994, 16)

In [3]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1994 non-null   int64
 1   Title                   1991 non-null   object
 2   Artist                  1986 non-null   object
 3   Top Genre               1986 non-null   object
 4   Year                    1987 non-null   float64
 5   Month                   1994 non-null   object
 6   Beats Per Minute (BPM)  1985 non-null   float64
 7   Energy                  1986 non-null   float64
 8   Danceability            970 non-null    float64
 9   Loudness (dB)           1987 non-null   float64
 10  Liveness                1986 non-null   float64
 11  Valence                 960 non-null    float64
 12  Length (Duration)       1985 non-null   object
 13  Acousticness            1986 non-null   float64
 14  Speechiness             1990 non-null   float64
 15  Popularity              1987 non-null   float64
dtypes: float64(10), int64(1), object(5)
memory usage: 249.4+ KB

In [4]:
songs.head()

,Index,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004.0,10,157.0,30.0,53.0,-14.0,11.0,68.0,201,94.0,3.0,71.0
1,2,Black Night,Deep Purple,album rock,2000.0,3,135.0,79.0,50.0,-11.0,17.0,81.0,207,17.0,7.0,39.0
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001.0,6,168.0,69.0,66.0,-9.0,7.0,52.0,341,2.0,17.0,69.0
3,4,The Pretender,Foo Fighters,alternative metal,2007.0,1,173.0,96.0,43.0,-4.0,3.0,37.0,269,0.0,4.0,76.0
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002.0,8,106.0,82.0,58.0,-5.0,10.0,87.0,256,1.0,3.0,59.0

In [5]:
#remove rows and columns where over half of values are NaN
songs = songs.loc[songs.count(1) > songs.shape[1]/2, songs.count(0) > songs.shape[0]/2]

In [15]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1981 entries, 0 to 1993
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              1981 non-null   int64
 1   Title              1981 non-null   object
 2   Artist             1981 non-null   object
 3   TopGenre           1981 non-null   object
 4   Year               1981 non-null   float64
 5   Month              1981 non-null   int32
 6   BeatsPerMinuteBPM  1981 non-null   float64
 7   Energy             1981 non-null   float64
 8   LoudnessdB         1981 non-null   float64
 9   Liveness           1981 non-null   float64
 10  LengthDuration     1981 non-null   object
 11  Acousticness       1981 non-null   float64
 12  Speechiness        1981 non-null   float64
 13  Popularity         1981 non-null   float64
dtypes: float64(8), int32(1), int64(1), object(4)
memory usage: 224.4+ KB

In [7]:
#replace spaces in column names
songs.columns = songs.columns.str.replace(' ', '')
songs.columns = songs.columns.str.replace('(', '')
songs.columns = songs.columns.str.replace(')', '')

C:\Users\Logan\AppData\Local\Temp\ipykernel_219892\1612843399.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  songs.columns = songs.columns.str.replace('(', '')
C:\Users\Logan\AppData\Local\Temp\ipykernel_219892\1612843399.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  songs.columns = songs.columns.str.replace(')', '')

In [8]:
#replace short years in Year column.
songs['Year'] = songs['Year'].replace([92.0], 1992.0)

In [9]:
songs.Year.describe()

count    1981.000000
mean     1993.008582
std        16.114691
min      1956.000000
25%      1979.000000
50%      1994.000000
75%      2007.000000
max      2019.000000
Name: Year, dtype: float64

In [10]:
#replaceing month abbreviations with month #

songs['Month'] = songs['Month'].replace(['Jan', 'Apr', 'May', 'Jun', 'Sep', 'Dec'], ['1', '4', '5', '6', '9', '12'])
songs['Month'] == songs['Month'].replace(['1', '2', '3', '4', '5', '6', '7', '8','9'], ['01', '02', '03', '04', '05', '06', '07', '08', '09'])

0        True
1       False
2       False
3       False
4       False
        ...
1989    False
1990    False
1991    False
1992     True
1993    False
Name: Month, Length: 1981, dtype: bool

In [11]:
songs['Month'] = songs['Month'].astype(int)

In [30]:
songs['Month'] = songs['Month'].astype(str)

In [12]:
songs.Month.describe()

count    1981.000000
mean        6.521454
std         3.419370
min         1.000000
25%         4.000000
50%         7.000000
75%         9.000000
max        12.000000
Name: Month, dtype: float64

In [13]:
songs.BeatsPerMinuteBPM.describe()

count    1981.000000
mean      120.238768
std        28.652640
min        15.000000
25%        99.000000
50%       119.000000
75%       136.000000
max       305.000000
Name: BeatsPerMinuteBPM, dtype: float64

In [16]:
songs.Energy.describe()

count    1981.000000
mean       59.641090
std        22.177314
min         3.000000
25%        42.000000
50%        61.000000
75%        78.000000
max       100.000000
Name: Energy, dtype: float64

In [17]:
#negative values
songs.LoudnessdB.describe()

count    1981.000000
mean       -9.018173
std         3.652130
min       -27.000000
25%       -11.000000
50%        -9.000000
75%        -6.000000
max        -2.000000
Name: LoudnessdB, dtype: float64

In [18]:
songs.Liveness.describe()

count    1981.000000
mean       19.009086
std        16.737453
min         2.000000
25%         9.000000
50%        12.000000
75%        23.000000
max        99.000000
Name: Liveness, dtype: float64

In [19]:

songs['LengthDuration'] = songs['LengthDuration'].str.replace(',', '')

In [20]:
songs['LengthDuration'] = songs['LengthDuration'].astype(int)

In [21]:
songs.LengthDuration.describe()

count    1981.000000
mean      262.620899
std        93.843197
min        93.000000
25%       212.000000
50%       245.000000
75%       290.000000
max      1412.000000
Name: LengthDuration, dtype: float64

In [22]:
songs.Acousticness.describe()

count    1981.000000
mean       28.933872
std        29.047404
min         0.000000
25%         3.000000
50%        18.000000
75%        50.000000
max        99.000000
Name: Acousticness, dtype: float64

In [23]:
songs.Speechiness.describe()

count    1981.000000
mean        4.992428
std         4.411125
min         2.000000
25%         3.000000
50%         4.000000
75%         5.000000
max        55.000000
Name: Speechiness, dtype: float64

In [24]:
#appears to be out of 100
songs.Popularity.describe()

count    1981.000000
mean       59.499243
std        14.374101
min        11.000000
25%        49.000000
50%        62.000000
75%        71.000000
max       100.000000
Name: Popularity, dtype: float64

# How should I interpret std deviation values?

In [80]:
#let's impute

imp = SimpleImputer(missing_values=np.nan, strategy='mean')

imp.fit(#insert value here
)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Sunrise'

# It seems there are no null entries left

In [27]:
songs['Year'] = songs['Year'].astype(int)
songs['Year'] = songs['Year'].astype(str)

In [31]:
songs['fulldate'] = songs['Year'] + '-' + songs['Month'] + '-' + '01'

In [32]:
songs.fulldate.value_counts()

2018-12-01    9
2012-8-01     8
1969-11-01    8
2007-7-01     8
1977-4-01     8
             ..
1983-12-01    1
1985-3-01     1
1985-7-01     1
1985-8-01     1
1959-6-01     1
Name: fulldate, Length: 645, dtype: int64

In [39]:
songs['fulldate'] = pd.to_datetime(songs['fulldate'])

In [60]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1981 entries, 0 to 1993
Columns: 163 entries, Index to yacht rock
dtypes: datetime64[ns](1), float64(7), int32(3), int64(2), object(2), uint8(148)
memory usage: 575.3+ KB

In [35]:
def calcage(startdate, enddate):
    age = enddate.year - startdate.year

    if (enddate.month < startdate.month or (enddate.month==startdate.month and enddate.day<startdate.day) ):
        age = age -1 
    return age

In [37]:
rundate = pd.to_datetime('2022-09-10')

In [41]:
songs['Age'] = songs.apply(lambda x: calcage (x.fulldate, rundate), axis=1)

In [134]:
songs = songs[['Title', 'Artist', 'TopGenre', 'BeatsPerMinuteBPM', 'Energy', 'LoudnessdB', 'Liveness', 'LengthDuration', 
'Acousticness', 'Speechiness', 'Popularity', 'Age']]

In [135]:
songs.head()

,Title,Artist,TopGenre,BeatsPerMinuteBPM,Energy,LoudnessdB,Liveness,LengthDuration,Acousticness,Speechiness,Popularity,Age
0,Sunrise,Norah Jones,adult standards,157.0,30.0,-14.0,11.0,201,94.0,3.0,71.0,17
1,Black Night,Deep Purple,album rock,135.0,79.0,-11.0,17.0,207,17.0,7.0,39.0,22
2,Clint Eastwood,Gorillaz,alternative hip hop,168.0,69.0,-9.0,7.0,341,2.0,17.0,69.0,21
3,The Pretender,Foo Fighters,alternative metal,173.0,96.0,-4.0,3.0,269,0.0,4.0,76.0,15
4,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,106.0,82.0,-5.0,10.0,256,1.0,3.0,59.0,19

In [43]:
GenreD = pd.get_dummies(songs['TopGenre'])

In [44]:
songs = songs.drop('TopGenre', axis = 1)

In [45]:
songs = songs.join(GenreD)

In [46]:
#NOTE: 0 for all dummies columns means TopGenre = acid jazz
songs = songs.drop('acid jazz', axis = 1)

In [59]:
songs['Year'] = songs['Year'].astype(int)
songs['Month'] = songs['Month'].astype(int)

In [61]:
songs.Artist.sort_values()

973           10cc
231           10cc
1091          10cc
1683          2Pac
399           2Pac
           ...
1817      Zucchero
1315          a-ha
1342          a-ha
1820     blink-182
1408    Édith Piaf
Name: Artist, Length: 1981, dtype: object

In [62]:
#dropped first is (Don't Fear) The Repaer
TitleD = pd.get_dummies(songs['Title'], drop_first = True)
#dropped first is 10cc
ArtistD = pd.get_dummies(songs['Artist'], drop_first = True)

In [63]:
TitleD = TitleD.add_prefix('Title_')
ArtistD = ArtistD.add_prefix('Artist_')
songs = songs.join(TitleD)
songs = songs.join(ArtistD)

In [ ]:
songs = songs.drop('Title', axis = 1)
songs = songs.drop('Artist', axis = 1)

In [66]:
songs.to_csv('cleaned_songs.csv', index=False)

# Model Training Exercise

In [150]:
#exclude all but target variable
x = songs.loc[:, songs.columns != 'Popularity']

In [153]:
#target variable
y = songs['Popularity']

In [156]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size = 0.30, random_state = 42)

In [157]:
X_train.describe()

,BeatsPerMinuteBPM,Energy,LoudnessdB,Liveness,Acousticness,Speechiness,Age,acoustic pop,adult standards,afropop,...,reggae,reggae fusion,rock-and-roll,scottish singer-songwriter,soft rock,stomp and holler,streektaal,trance,uk pop,yacht rock
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.00000,1386.000000,1386.000000,1386.000000,1386.0,...,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.0
mean,119.826118,59.413420,-9.094517,18.974747,29.160173,5.02381,28.555556,0.000722,0.063492,0.0,...,0.004329,0.002886,0.000722,0.000722,0.000722,0.000722,0.000722,0.000722,0.000722,0.0
std,28.670959,22.060928,3.731669,16.715978,29.429331,4.43877,16.071955,0.026861,0.243934,0.0,...,0.065676,0.053663,0.026861,0.026861,0.026861,0.026861,0.026861,0.026861,0.026861,0.0
min,15.000000,3.000000,-27.000000,2.000000,0.000000,2.00000,2.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,99.000000,43.000000,-11.000000,9.000000,3.000000,3.00000,14.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,119.000000,61.000000,-9.000000,12.000000,18.000000,4.00000,28.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,135.000000,77.000000,-6.000000,22.750000,51.000000,5.00000,43.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,305.000000,100.000000,-2.000000,98.000000,98.000000,46.00000,64.000000,1.000000,1.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [158]:
X_test.describe()

,BeatsPerMinuteBPM,Energy,LoudnessdB,Liveness,Acousticness,Speechiness,Age,acoustic pop,adult standards,afropop,...,reggae,reggae fusion,rock-and-roll,scottish singer-songwriter,soft rock,stomp and holler,streektaal,trance,uk pop,yacht rock
count,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,...,595.000000,595.0,595.0,595.000000,595.0,595.0,595.0,595.0,595.0,595.000000
mean,121.200000,60.171429,-8.840336,19.089076,28.406723,4.919328,28.329412,0.005042,0.055462,0.001681,...,0.003361,0.0,0.0,0.001681,0.0,0.0,0.0,0.0,0.0,0.001681
std,28.610916,22.455812,3.456276,16.801188,28.154922,4.348870,16.302766,0.070888,0.229073,0.040996,...,0.057928,0.0,0.0,0.040996,0.0,0.0,0.0,0.0,0.0,0.040996
min,37.000000,5.000000,-21.000000,3.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
25%,100.500000,42.000000,-11.000000,9.000000,4.000000,3.000000,14.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
50%,119.000000,61.000000,-8.000000,13.000000,18.000000,4.000000,28.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
75%,137.500000,80.000000,-6.000000,23.000000,48.500000,5.000000,42.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
max,197.000000,99.000000,-2.000000,99.000000,99.000000,55.000000,65.000000,1.000000,1.000000,1.000000,...,1.000000,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000

In [159]:
y_train.describe()

count    1386.000000
mean       59.500722
std        14.278471
min        13.000000
25%        49.000000
50%        62.000000
75%        71.000000
max       100.000000
Name: Popularity, dtype: float64

In [161]:
y_test.describe()

count    595.000000
mean      59.495798
std       14.606554
min       11.000000
25%       49.500000
50%       62.000000
75%       70.000000
max       87.000000
Name: Popularity, dtype: float64